---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="MoviePop!">
  <Header home="homeo.svg" search="searchw.svg" arrow={false} nav="absolute" />
  <main>
    <section
      class="flex flex-col justify-center items-center h-screen text-center"
    >
      <img src="../../public/Logo.svg" alt="" class="" />
      <h1 class="text-5xl text-orange-500 mt-2">MoviePop!</h1>
    </section>
  </main>
</Layout>
