---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Movies from "../components/Movies"
---

<Layout title="MoviePop!">
  <Header
    home="homew.svg"
    search="searchO.svg"
    nav="justify-end"
    movie={false}
  />
  <main>
    <section>
      <Movies client:only="react"/>
    </section>
  </main>
</Layout>
