---
import Header from "../components/Header.astro";
import Search from "../components/Search.jsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="MoviePop!">
  <Header
    home="homew.svg"
    search="searchO.svg"
    nav="justify-end"
    movie={false}
  />
  <main>
    <section>
      <Search client:only="react" />
    </section>
  </main>
</Layout>
