---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Movie from "../../components/Movie";

const { id } = Astro.params;
---

<Layout title="MoviePop!">
  <Header home="homew" search="searchO" nav="justify-end" movie={true} />
  <main>
    <section class="flex items-center justify-center flex-col text-white mb-4">
      <Movie id={id} client:only="react" />
    </section>
  </main>
</Layout>
